#                                           Exploring and Cleanup of Raw file

In [1]:
# setting variables and importing libraries
import pandas as pd
sourceFile = '../raw/GlobalJobSalariesWithLivingIndex.csv'

In [2]:
# Changing the names of columns to ease processing
columns = ['Country', 	'JobTitle', 'Category', 	'Salary', 	'Currency', 	
           'ExchangeRate'	, 'SalaryUSD', 	'SalaryRoundedUSD'
           ,'CostofLivingIndex',	'RentIndex', 	'CostofLivingPlusRentIndex',	'GroceriesIndex', 	'RestaurantPriceIndex', 	'LocalPurchasingPowerIndex'
           ]
# reading source file
df = pd.read_csv(sourceFile, header = None,
                  names=columns , dtype='unicode' , skiprows=1, low_memory=False)

In [3]:
df.describe(include='all')

,Country,JobTitle,Category,Salary,Currency,ExchangeRate,SalaryUSD,SalaryRoundedUSD,CostofLivingIndex,RentIndex,CostofLivingPlusRentIndex,GroceriesIndex,RestaurantPriceIndex,LocalPurchasingPowerIndex
count,117470,117470,117470,117462,117470,117469,117470,117470,88485,88485,88485,88485,88485,88485
unique,141,3628,51,4351,85,76,15327,14275,89,83,86,87,90,90
top,Cuba,Project Manager,Health and Medical,142300,EUR,0.93,60598.88,60599,45.6,10.6,53.1,41.3,25.5,103.3
freq,3787,235,19104,407,37039,37039,246,246,3787,3884,5645,3787,3787,4988

Removing the nulls and NaNs rows. This is done to eliminate those rows which has CostofLivingIndex as NaN

In [4]:
# Removing the nulls and NaNs rows. This is done to eliminate those rows which has CostofLivingIndex as NaN
df = df.dropna(subset=['CostofLivingIndex'])

### Discretization of the salary feature and creating a new feature SalaryRange

In [5]:
df['SalaryRangeinK'] = df['SalaryRoundedUSD'].astype(int).apply(lambda x: '50-60' if x > 50000 and  x < 60000 
                                                              else '60-70' if x > 60000 and x < 70000 
                                                              else '70-80' if x > 70000 and  x < 80000 
                                                              else '80-90' if x > 80000 &  x < 90000
                                                              else '90-100' if x > 90000 &  x < 100000
                                                              else '100+'  if x > 100000 
                                                              else 'less than 50'
                                                              )

In [6]:
df.head()

,Country,JobTitle,Category,Salary,Currency,ExchangeRate,SalaryUSD,SalaryRoundedUSD,CostofLivingIndex,RentIndex,CostofLivingPlusRentIndex,GroceriesIndex,RestaurantPriceIndex,LocalPurchasingPowerIndex,SalaryRangeinK
0,Afghanistan,Cardiovascular Specialist,Health and Medical,3829500,AFN,71.24,53751.57,53752,22.8,2.8,13.3,17.3,13,22.4,50-60
1,Afghanistan,Chief of Surgery,Health and Medical,4429300,AFN,71.24,62170.48,62170,22.8,2.8,13.3,17.3,13,22.4,60-70
2,Afghanistan,Invasive Cardiologist,Health and Medical,3934900,AFN,71.24,55230.99,55231,22.8,2.8,13.3,17.3,13,22.4,50-60
3,Afghanistan,Physician - Cardiology,Health and Medical,3769500,AFN,71.24,52909.4,52909,22.8,2.8,13.3,17.3,13,22.4,50-60
4,Afghanistan,Surgeon - Cardiothoracic,Health and Medical,4187600,AFN,71.24,58777.93,58778,22.8,2.8,13.3,17.3,13,22.4,50-60

### Creating new cleaned csv file

In [7]:

df.to_csv('Cleaned_Data.csv', index=False, columns = ['Country', 	'JobTitle', 'Category', 	
                                                     'CostofLivingIndex',	'RentIndex', 	'CostofLivingPlusRentIndex',	'GroceriesIndex', 	'RestaurantPriceIndex', 	'LocalPurchasingPowerIndex',
                                                      'SalaryUSD', 	'SalaryRoundedUSD', 'SalaryRangeinK'])

In [8]:
# Checking the cleaned Dataset
clean_df= pd.read_csv('Cleaned_Data.csv')
clean_df

,Country,JobTitle,Category,CostofLivingIndex,RentIndex,CostofLivingPlusRentIndex,GroceriesIndex,RestaurantPriceIndex,LocalPurchasingPowerIndex,SalaryUSD,SalaryRoundedUSD,SalaryRangeinK
0,Afghanistan,Cardiovascular Specialist,Health and Medical,22.8,2.8,13.3,17.3,13.0,22.4,53751.57,53752,50-60
1,Afghanistan,Chief of Surgery,Health and Medical,22.8,2.8,13.3,17.3,13.0,22.4,62170.48,62170,60-70
2,Afghanistan,Invasive Cardiologist,Health and Medical,22.8,2.8,13.3,17.3,13.0,22.4,55230.99,55231,50-60
3,Afghanistan,Physician - Cardiology,Health and Medical,22.8,2.8,13.3,17.3,13.0,22.4,52909.40,52909,50-60
4,Afghanistan,Surgeon - Cardiothoracic,Health and Medical,22.8,2.8,13.3,17.3,13.0,22.4,58777.93,58778,50-60
...,...,...,...,...,...,...,...,...,...,...,...,...
88480,Venezuela,Telecommunication Service Delivery Manager,Telecommunication,39.4,5.7,23.4,38.3,38.5,12.6,53651.81,53652,50-60
88481,Venezuela,Telecommunication Solution Architect,Telecommunication,39.4,5.7,23.4,38.3,38.5,12.6,53651.81,53652,50-60
88482,Venezuela,Telecommunications Analyst,Telecommunication,39.4,5.7,23.4,38.3,38.5,12.6,50401.27,50401,50-60
88483,Venezuela,Telecommunications Assistant Manager,Telecommunication,39.4,5.7,23.4,38.3,38.5,12.6,53651.81,53652,50-60
88484,Venezuela,Telecommunications Manager,Telecommunication,39.4,5.7,23.4,38.3,38.5,12.6,72608.21,72608,70-80